In [1]:
print(1)

1

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('salaries_by_college_major.csv')

In [4]:
df.head()

,Undergraduate Major,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary,Group
0,Accounting,46000.0,77100.0,42200.0,152000.0,Business
1,Aerospace Engineering,57700.0,101000.0,64300.0,161000.0,STEM
2,Agriculture,42600.0,71900.0,36300.0,150000.0,Business
3,Anthropology,36800.0,61500.0,33800.0,138000.0,HASS
4,Architecture,41600.0,76800.0,50600.0,136000.0,Business

In [6]:
df.shape

(51, 6)

In [7]:
df.columns

Index(['Undergraduate Major', 'Starting Median Salary',
       'Mid-Career Median Salary', 'Mid-Career 10th Percentile Salary',
       'Mid-Career 90th Percentile Salary', 'Group'],
      dtype='object')

In [8]:
df.isna()

,Undergraduate Major,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary,Group
0,False,False,False,False,False,False
1,False,False,False,False,False,False
2,False,False,False,False,False,False
3,False,False,False,False,False,False
4,False,False,False,False,False,False
5,False,False,False,False,False,False
6,False,False,False,False,False,False
7,False,False,False,False,False,False
8,False,False,False,False,False,False
9,False,False,False,False,False,False
10,False,False,False,False,False,False
11,False,False,False,False,False,False
12,False,False,False,False,False,False
13,False,False,False,False,False,False
14,False,False,False,False,False,False
15,False,False,False,False,False,False
16,False,False,False,False,False,False
17,False,False,False,False,False,False
18,False,False,False,False,False,False
19,False,False,False,False,False,False
20,False,False,False,False,False,False
21,False,False,False,False,False,False
22,False,False,False,False,False,False
23,False,False,False,False,False,False
24,False,False,False,False,False,False
25,False,False,False,False,False,False
26,False,False,False,False,False,False
27,False,False,False,False,False,False
28,False,False,False,False,False,False
29,False,False,False,False,False,False
30,False,False,False,False,False,False
31,False,False,False,False,False,False
32,False,False,False,False,False,False
33,False,False,False,False,False,False
34,False,False,False,False,False,False
35,False,False,False,False,False,False
36,False,False,False,False,False,False
37,False,False,False,False,False,False
38,False,False,False,False,False,False
39,False,False,False,False,False,False
40,False,False,False,False,False,False
41,False,False,False,False,False,False
42,False,False,False,False,False,False
43,False,False,False,False,False,False
44,False,False,False,False,False,False
45,False,False,False,False,False,False
46,False,False,False,False,False,False
47,False,False,False,False,False,False
48,False,False,False,False,False,False
49,False,False,False,False,False,False
50,False,True,True,True,True,True

In [9]:
df.tail()

,Undergraduate Major,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary,Group
46,Psychology,35900.0,60400.0,31600.0,127000.0,HASS
47,Religion,34100.0,52000.0,29700.0,96400.0,HASS
48,Sociology,36500.0,58200.0,30700.0,118000.0,HASS
49,Spanish,34000.0,53100.0,31000.0,96400.0,HASS
50,Source: PayScale Inc.,NaN,NaN,NaN,NaN,NaN

In [11]:
clean_df = df.dropna()
clean_df.tail()

,Undergraduate Major,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary,Group
45,Political Science,40800.0,78200.0,41200.0,168000.0,HASS
46,Psychology,35900.0,60400.0,31600.0,127000.0,HASS
47,Religion,34100.0,52000.0,29700.0,96400.0,HASS
48,Sociology,36500.0,58200.0,30700.0,118000.0,HASS
49,Spanish,34000.0,53100.0,31000.0,96400.0,HASS

In [12]:
clean_df['Starting Median Salary']

0     46000.0
1     57700.0
2     42600.0
3     36800.0
4     41600.0
5     35800.0
6     38800.0
7     43000.0
8     63200.0
9     42600.0
10    53900.0
11    38100.0
12    61400.0
13    55900.0
14    53700.0
15    35000.0
16    35900.0
17    50100.0
18    34900.0
19    60900.0
20    38000.0
21    37900.0
22    47900.0
23    39100.0
24    41200.0
25    43500.0
26    35700.0
27    38800.0
28    39200.0
29    37800.0
30    57700.0
31    49100.0
32    36100.0
33    40900.0
34    35600.0
35    49200.0
36    40800.0
37    45400.0
38    57900.0
39    35900.0
40    54200.0
41    39900.0
42    39900.0
43    74300.0
44    50300.0
45    40800.0
46    35900.0
47    34100.0
48    36500.0
49    34000.0
Name: Starting Median Salary, dtype: float64

In [13]:
clean_df['Starting Median Salary'].max()

74300.0

In [14]:
clean_df['Starting Median Salary'].idmax()

AttributeError: 'Series' object has no attribute 'idmax'

In [15]:
clean_df['Starting Median Salary'].idxmax()

np.int64(43)

In [16]:
clean_df['Starting Median Salary'].loc[43]

np.float64(74300.0)

In [17]:
clean_df['Undergraduate Major'].loc[43]

'Physician Assistant'

In [18]:
df.table()

AttributeError: 'DataFrame' object has no attribute 'table'

In [19]:
df.columns

Index(['Undergraduate Major', 'Starting Median Salary',
       'Mid-Career Median Salary', 'Mid-Career 10th Percentile Salary',
       'Mid-Career 90th Percentile Salary', 'Group'],
      dtype='object')

In [21]:
clean_df['Mid-Career Median Salary'].idmax()

AttributeError: 'Series' object has no attribute 'idmax'

In [22]:
clean_df['Mid-Career Median Salary'].idmax()

AttributeError: 'Series' object has no attribute 'idmax'

In [23]:
clean_df['Mid-Career Median Salary'].idxmax()

np.int64(8)

In [24]:
clean_df.loc[8]

Undergraduate Major                  Chemical Engineering
Starting Median Salary                            63200.0
Mid-Career Median Salary                         107000.0
Mid-Career 10th Percentile Salary                 71900.0
Mid-Career 90th Percentile Salary                194000.0
Group                                                STEM
Name: 8, dtype: object

In [25]:
clean_df['Mid-Career Median Salary'].idxmin()

np.int64(18)

In [26]:
clean_df.loc[18]

Undergraduate Major                  Education
Starting Median Salary                 34900.0
Mid-Career Median Salary               52000.0
Mid-Career 10th Percentile Salary      29300.0
Mid-Career 90th Percentile Salary     102000.0
Group                                     HASS
Name: 18, dtype: object

In [27]:
clean_df['Starting Median Salary'].idxmin()

np.int64(49)

In [28]:
clean_df.loc[49]

Undergraduate Major                  Spanish
Starting Median Salary               34000.0
Mid-Career Median Salary             53100.0
Mid-Career 10th Percentile Salary    31000.0
Mid-Career 90th Percentile Salary    96400.0
Group                                   HASS
Name: 49, dtype: object

In [29]:
subtracted_gap = clean_df['Mid-Career 90th Percentile Salary']-clean_df['Mid-Career 90th Percentile Salary']
clean_df.insert(1,Spread,subtracted_gap)
clean_df.head()

NameError: name 'Spread' is not defined

In [30]:
spread_col = clean_df['Mid-Career 90th Percentile Salary'] - clean_df['Mid-Career 10th Percentile Salary']
clean_df.insert(1, 'Spread', spread_col)
clean_df.head()

,Undergraduate Major,Spread,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary,Group
0,Accounting,109800.0,46000.0,77100.0,42200.0,152000.0,Business
1,Aerospace Engineering,96700.0,57700.0,101000.0,64300.0,161000.0,STEM
2,Agriculture,113700.0,42600.0,71900.0,36300.0,150000.0,Business
3,Anthropology,104200.0,36800.0,61500.0,33800.0,138000.0,HASS
4,Architecture,85400.0,41600.0,76800.0,50600.0,136000.0,Business

In [31]:
clean_df.head(20)

,Undergraduate Major,Spread,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary,Group
0,Accounting,109800.0,46000.0,77100.0,42200.0,152000.0,Business
1,Aerospace Engineering,96700.0,57700.0,101000.0,64300.0,161000.0,STEM
2,Agriculture,113700.0,42600.0,71900.0,36300.0,150000.0,Business
3,Anthropology,104200.0,36800.0,61500.0,33800.0,138000.0,HASS
4,Architecture,85400.0,41600.0,76800.0,50600.0,136000.0,Business
5,Art History,96200.0,35800.0,64900.0,28800.0,125000.0,HASS
6,Biology,98100.0,38800.0,64800.0,36900.0,135000.0,STEM
7,Business Management,108200.0,43000.0,72100.0,38800.0,147000.0,Business
8,Chemical Engineering,122100.0,63200.0,107000.0,71900.0,194000.0,STEM
9,Chemistry,102700.0,42600.0,79900.0,45300.0,148000.0,STEM
10,Civil Engineering,84600.0,53900.0,90500.0,63400.0,148000.0,STEM
11,Communications,105500.0,38100.0,70000.0,37500.0,143000.0,HASS
12,Computer Engineering,95900.0,61400.0,105000.0,66100.0,162000.0,STEM
13,Computer Science,98000.0,55900.0,95500.0,56000.0,154000.0,STEM
14,Construction,114700.0,53700.0,88900.0,56300.0,171000.0,Business
15,Criminal Justice,74800.0,35000.0,56300.0,32200.0,107000.0,HASS
16,Drama,116300.0,35900.0,56900.0,36700.0,153000.0,HASS
17,Economics,159400.0,50100.0,98600.0,50600.0,210000.0,Business
18,Education,72700.0,34900.0,52000.0,29300.0,102000.0,HASS
19,Electrical Engineering,98700.0,60900.0,103000.0,69300.0,168000.0,STEM

In [32]:
df.shape

(51, 6)

In [33]:
clean_df.sort_values('Spread',ascending=False).head()

,Undergraduate Major,Spread,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary,Group
17,Economics,159400.0,50100.0,98600.0,50600.0,210000.0,Business
22,Finance,147800.0,47900.0,88300.0,47200.0,195000.0,Business
37,Math,137800.0,45400.0,92400.0,45200.0,183000.0,STEM
36,Marketing,132900.0,40800.0,79600.0,42100.0,175000.0,Business
42,Philosophy,132500.0,39900.0,81200.0,35500.0,168000.0,HASS

In [34]:
clean_df.groupby('Group').count()

,Undergraduate Major,Spread,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary
Group,,,,,,
Business,12,12,12,12,12,12
HASS,22,22,22,22,22,22
STEM,16,16,16,16,16,16

In [35]:
clean_df.groupby('Group').mean()

TypeError: agg function failed [how->mean,dtype->object]

In [36]:
clean_df.groupby('Group').mean()

TypeError: agg function failed [how->mean,dtype->object]

In [37]:
pd.options.display.float_format = '{:,.2f}'.format

In [38]:
clean_df.groupby('Group').count()

,Undergraduate Major,Spread,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary
Group,,,,,,
Business,12,12,12,12,12,12
HASS,22,22,22,22,22,22
STEM,16,16,16,16,16,16

In [39]:
clean_df.groupby('Group').mean()

TypeError: agg function failed [how->mean,dtype->object]

In [40]:
clean_df.groupby('Group').mean

In [41]:
clean_df.groupby('Group').mean.data

AttributeError: 'function' object has no attribute 'data'

In [42]:
clean_df.groupby('Group').mean()

TypeError: agg function failed [how->mean,dtype->object]

In [43]:
clean_df.groupby('Group').median()

TypeError: agg function failed [how->median,dtype->object]

In [44]:
clean_df.head(51)

,Undergraduate Major,Spread,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary,Group
0,Accounting,"109,800.00","46,000.00","77,100.00","42,200.00","152,000.00",Business
1,Aerospace Engineering,"96,700.00","57,700.00","101,000.00","64,300.00","161,000.00",STEM
2,Agriculture,"113,700.00","42,600.00","71,900.00","36,300.00","150,000.00",Business
3,Anthropology,"104,200.00","36,800.00","61,500.00","33,800.00","138,000.00",HASS
4,Architecture,"85,400.00","41,600.00","76,800.00","50,600.00","136,000.00",Business
5,Art History,"96,200.00","35,800.00","64,900.00","28,800.00","125,000.00",HASS
6,Biology,"98,100.00","38,800.00","64,800.00","36,900.00","135,000.00",STEM
7,Business Management,"108,200.00","43,000.00","72,100.00","38,800.00","147,000.00",Business
8,Chemical Engineering,"122,100.00","63,200.00","107,000.00","71,900.00","194,000.00",STEM
9,Chemistry,"102,700.00","42,600.00","79,900.00","45,300.00","148,000.00",STEM
10,Civil Engineering,"84,600.00","53,900.00","90,500.00","63,400.00","148,000.00",STEM
11,Communications,"105,500.00","38,100.00","70,000.00","37,500.00","143,000.00",HASS
12,Computer Engineering,"95,900.00","61,400.00","105,000.00","66,100.00","162,000.00",STEM
13,Computer Science,"98,000.00","55,900.00","95,500.00","56,000.00","154,000.00",STEM
14,Construction,"114,700.00","53,700.00","88,900.00","56,300.00","171,000.00",Business
15,Criminal Justice,"74,800.00","35,000.00","56,300.00","32,200.00","107,000.00",HASS
16,Drama,"116,300.00","35,900.00","56,900.00","36,700.00","153,000.00",HASS
17,Economics,"159,400.00","50,100.00","98,600.00","50,600.00","210,000.00",Business
18,Education,"72,700.00","34,900.00","52,000.00","29,300.00","102,000.00",HASS
19,Electrical Engineering,"98,700.00","60,900.00","103,000.00","69,300.00","168,000.00",STEM
20,English,"99,600.00","38,000.00","64,700.00","33,400.00","133,000.00",HASS
21,Film,"102,100.00","37,900.00","68,500.00","33,900.00","136,000.00",HASS
22,Finance,"147,800.00","47,900.00","88,300.00","47,200.00","195,000.00",Business
23,Forestry,"70,000.00","39,100.00","62,600.00","41,000.00","111,000.00",Business
24,Geography,"92,000.00","41,200.00","65,500.00","40,000.00","132,000.00",HASS
25,Geology,"111,000.00","43,500.00","79,500.00","45,000.00","156,000.00",STEM
26,Graphic Design,"76,000.00","35,700.00","59,800.00","36,000.00","112,000.00",HASS
27,Health Care Administration,"66,400.00","38,800.00","60,600.00","34,600.00","101,000.00",Business
28,History,"112,000.00","39,200.00","71,000.00","37,000.00","149,000.00",HASS
29,Hospitality & Tourism,"88,500.00","37,800.00","57,500.00","35,500.00","124,000.00",Business
30,Industrial Engineering,"115,900.00","57,700.00","94,700.00","57,100.00","173,000.00",STEM
31,Information Technology (IT),"84,500.00","49,100.00","74,800.00","44,500.00","129,000.00",STEM
32,Interior Design,"71,300.00","36,100.00","53,200.00","35,700.00","107,000.00",HASS
33,International Relations,"118,800.00","40,900.00","80,900.00","38,200.00","157,000.00",HASS
34,Journalism,"106,600.00","35,600.00","66,700.00","38,400.00","145,000.00",HASS
35,Management Information Systems (MIS),"100,700.00","49,200.00","82,300.00","45,300.00","146,000.00",STEM
36,Marketing,"132,900.00","40,800.00","79,600.00","42,100.00","175,000.00",Business
37,Math,"137,800.00","45,400.00","92,400.00","45,200.00","183,000.00",STEM
38,Mechanical Engineering,"99,300.00","57,900.00","93,600.00","63,700.00","163,000.00",STEM
39,Music,"107,300.00","35,900.00","55,000.00","26,700.00","134,000.00",HASS
40,Nursing,"50,700.00","54,200.00","67,000.00","47,600.00","98,300.00",Business
41,Nutrition,"65,300.00","39,900.00","55,300.00","33,900.00","99,200.00",HASS
42,Philosophy,"132,500.00","39,900.00","81,200.00","35,500.00","168,000.00",HASS
43,Physician Assistant,"57,600.00","74,300.00","91,700.00","66,400.00","124,000.00",STEM
44,Physics,"122,000.00","50,300.00","97,300.00","56,000.00","178,000.00",STEM
45,Political Science,"126,800.00","40,800.00","78,200.00","41,200.00","168,000.00",HASS
46,Psychology,"95,400.00","35,900.00","60,400.00","31,600.00","127,000.00",HASS
47,Religion,"66,700.00","34,100.00","52,000.00","29,700.00","96,400.00",HASS
48,Sociology,"87,300.00","36,500.00","58,200.00","30,700.00","118,000.00",HASS
49,Spanish,"65,400.00","34,000.00","53,100.00","31,000.00","96,400.00",HASS

In [45]:
clean_df.groupby('Group').mean()

TypeError: agg function failed [how->mean,dtype->object]

In [46]:
clean_df.columns

Index(['Undergraduate Major', 'Spread', 'Starting Median Salary',
       'Mid-Career Median Salary', 'Mid-Career 10th Percentile Salary',
       'Mid-Career 90th Percentile Salary', 'Group'],
      dtype='object')

In [47]:
clean_df['Group'].dtype

dtype('O')

In [48]:
clean_df['Group'].isna().sum()

np.int64(0)